<% include ../partials/header %>
<div class="container mt-5">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Yelp Camp</p>
			<ul class="list-group">
				<li class="list-group-item"><a href="/campgrounds">View all campgrounds</a></li>
				<li class="list-group-item"><a href="/campgrounds/new">Write a new Review</a></li>
				<li class="list-group-item">Category 3</li>
			</ul>
		</div>
		<div class="col-sm-9">
			<div class="card">
				<img class="img-fluid" src="<%= campground.image %>" >
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h4 class="card-title text-capitalize" ><%= campground.name %></h4>
						<% if(Number(campground.price) == 0 || isNaN(Number(campground.price))){ %>
							<h4>Free</h4>
						<% } else { %>
						<h4>$<%= Number(campground.price).toFixed(2) %></h4>
						<% } %>
					</div>
					<p class="card-text"><%= campground.desc %></p>
					<em><p class="card-text">Submitted by <%= campground.author.username %></p></em>

					<%//========== DELETE & EDIT BUTTON SECTION ==========%>

					<% if (currentUser && campground.author.id.equals(currentUser._id)){ %>
						<div class="d-flex justify-content-end">
							<a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-sm btn-warning mr-2 border border-dark text-white">Edit</a>
							<form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
								<button class="btn btn-sm btn-danger border border-dark">Delete</a>
							</form>
						</div>
					<% } %>
				</div>
			</div>

			<%//========== COMMENT SECTION ==========%>

			<div class="card bg-light mt-4 px-3 border border-dark">
				<p class="text-right">
					<a class="btn btn-lg btn-outline-success mt-4" href="/campgrounds/<%=campground._id%>/comments/new">New comment</a>
				</p>
				<hr>
				<div class ="row card-body">
					<div class="col-md-12">
						<% campground.comments.forEach((comment)=>{ %>
							<div id="commentHeader" class="d-flex justify-content-between">
								<strong><p><%= comment.author.username %></p></strong>
								<p>10 days ago</p>
							</div>
							<p class="mb-1"><%= comment.text %></p>

							<%//========== EDIT AND DELETE COMMENT SECTION ==========%>

							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<div class="d-flex justify-content-end">
								<a class="btn btn-sm btn-warning mr-1" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
									<button class="btn btn-sm btn-danger">Delete</button>
								</form>
							</div>
							<% } %>

							<hr>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>